<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultados</title>
</head>
<body>
    
    <div class="search-container">
        <form action="/buscar" method="post">
            <input type="text" name="consulta" required value="{{consulta}}">
            <button type="submit">Buscar</button>
            <div class="radio-group">
                <label><input type="radio" name="method" value="bow" checked> Usar BoW</label>
                <label><input type="radio" name="method" value="tfidf"> Usar TF-IDF</label>
            </div>
        </form>

    </div>


    {% if resultados %}
        <div class="resultados">
            {% for resultado in resultados %}
                <div class="resultado">
                    <h3>{{ resultado.titulo }} ({{resultado.similitud_coseno}})</h3>
                    <p>{{ resultado.contenido[:150] }}...</p> 
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>No se encontraron resultados.</p>
    {% endif %}
</body>
</html>