body {
    font-family: Sniglet;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    /*background-color:#2b4957;*/  
    background-color: #131921;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/static/css/img/libros.png');
    background-size: cover;
    background-position: center;
    opacity: 0.05;
    z-index: -1; 
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

header {
    margin-bottom: 20px;
   /* color: white;*/
   color: white;
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.search-container form {
    display: flex;
    
}

.search-container input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
    outline: none;
   
}

.search-container button {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-left: none;
    border-radius: 0 4px 4px 0;
    background-color:#0081a5;
    color: white;
    cursor: pointer;
}

.search-container button:hover {
    background-color: #45a049;
}


.search-container input[type="radio"] {

    margin-top: 5px;
  
    margin-left: 15px;    
}

.search-container .radio-group{
    position: absolute;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-right: 5px;
    margin-top: 55px;
    color: white;
}

footer {
    background-color: #f1f1f1;
    text-align: center;
    padding: 10px 0;
    position: relative;
    width: 100%;
    bottom: 0;
}